In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [5]:
## Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
## Preprocess the data
### Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
## Encode the categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
## Onehot encode Geography column

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geography = OneHotEncoder()
geo_encoder = onehot_encoder_geography.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [10]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [11]:
onehot_encoder_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geography.get_feature_names_out(['Geography']))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## Combine all the one hot encoder columns with the original data

data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
## Save the encoder and scaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_endcoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geography,file)

In [16]:
# Divide the dataset into dependent and independent features
X = data.drop('Exited',axis=1)
y = data['Exited']

## Split the data into training and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scale the featrures
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [18]:
## Save the scaler into pickle file

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [19]:
!pip list

Package                      Version
---------------------------- -----------
absl-py                      2.1.0
altair                       5.4.1
asttokens                    2.4.1
astunparse                   1.6.3
attrs                        24.2.0
blinker                      1.8.2
cachetools                   5.5.0
certifi                      2024.8.30
charset-normalizer           3.3.2
click                        8.1.7
colorama                     0.4.6
comm                         0.2.2
contourpy                    1.2.1
cycler                       0.12.1
debugpy                      1.8.5
decorator                    5.1.1
exceptiongroup               1.2.2
executing                    2.0.1
flatbuffers                  24.3.25
fonttools                    4.53.1
gast                         0.6.0
gitdb                        4.0.11
GitPython                    3.1.43
google-pasta                 0.2.0
grpcio                       1.66.1
h5py                         3.11.0
idna                         3.8
importlib-metadata           8.4.0
importlib-resources          6.4.4
ipykernel                    6.29.5
ipython                      8.18.1
jedi                         0.19.1
jinja2                       3.1.4
joblib                       1.4.2
jsonschema                   4.23.0
jsonschema-specifications    2023.12.1
jupyter-client               8.6.2
jupyter-core                 5.7.2
keras                        2.15.0
kiwisolver                   1.4.5
libclang                     18.1.1
Markdown                     3.7
markdown-it-py               3.0.0
MarkupSafe                   2.1.5
matplotlib                   3.9.2
matplotlib-inline            0.1.7
mdurl                        0.1.2
ml-dtypes                    0.2.0
narwhals                     1.7.0
nest-asyncio                 1.6.0
nltk                         3.9.1
numpy                        1.26.2
opt-einsum                   3.3.0
packaging                    24.1
pandas                       2.2.2
parso                        0.8.4
patsy                        0.5.6
pillow                       10.4.0
pip                          20.2.3
platformdirs                 4.2.2
prompt-toolkit               3.0.47
protobuf                     5.28.0
psutil                       6.0.0
pure-eval                    0.2.3
pyarrow                      17.0.0
pydeck                       0.9.1
pygments                     2.18.0
pyparsing                    3.1.4
python-dateutil              2.9.0.post0
pytz                         2024.1
pywin32                      306
pyzmq                        26.2.0
referencing                  0.35.1
regex                        2024.7.24
requests                     2.32.3
rich                         13.8.1
rpds-py                      0.20.0
scikit-learn                 1.5.1
scipy                        1.13.1
seaborn                      0.13.2
setuptools                   49.2.1
six                          1.16.0
smmap                        5.0.1
stack-data                   0.6.3
statsmodels                  0.14.2
streamlit                    1.38.0
tenacity                     8.5.0
tensorboard                  2.17.1
tensorboard-data-server      0.7.2
tensorflow                   2.15.0
tensorflow-estimator         2.15.0
tensorflow-intel             2.15.0
tensorflow-io-gcs-filesystem 0.31.0
termcolor                    2.4.0
threadpoolctl                3.5.0
toml                         0.10.2
tornado                      6.4.1
tqdm                         4.66.5
traitlets                    5.14.3
typing-extensions            4.12.2
tzdata                       2024.1
urllib3                      2.2.2
watchdog                     4.0.2
wcwidth                      0.2.13
werkzeug                     3.0.4
wheel                        0.44.0
wrapt                        1.14.1
zipp                         3.20.0

WARNING: You are using pip version 20.2.3; however, version 24.2 is available.
You should consider upgrading via the 'd:\data_scienc\machine_learning_practical\venv\scripts\python.exe -m pip install --upgrade pip' command.

### ANN Implementation

In [20]:
import tensorflow as tf

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [22]:
## Build our ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape = (X_train.shape[1],)), ## HL1 COnnected with input layer
    Dense(32,activation='relu'),  ## HL2
    Dense(1,activation='sigmoid')
]
)

WARNING:tensorflow:From d:\Data_Scienc\Machine_Learning_Practical\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()
loss

In [27]:
## Compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [38]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir ="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [39]:
## Setup Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [40]:
## Training the Model
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                    callbacks=[tensorflow_callback,early_stopping_callback]
                    )

Epoch 1/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3271 - accuracy: 0.8659 - val_loss: 0.3423 - val_accuracy: 0.8605
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3244 - accuracy: 0.8668 - val_loss: 0.3567 - val_accuracy: 0.8555
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3242 - accuracy: 0.8679 - val_loss: 0.3601 - val_accuracy: 0.8545
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3192 - accuracy: 0.8700 - val_loss: 0.3452 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3196 - accuracy: 0.8660 - val_loss: 0.3483 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3144 - accuracy: 0.8695 - val_loss: 0.3519 - val_accuracy: 0.8580
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3188 - accuracy: 0.8711 - val_loss: 0.3553 - val_accuracy: 0.8620
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3142 - accuracy: 0.8694 - val_loss: 0.3567 - val_accuracy: 0.8515
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3127 - accuracy: 0.8719 - val_loss: 0.3569 - val_accuracy: 0.8545
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3062 - accuracy: 0.8759 - val_loss: 0.3737 - val_accuracy: 0.8415
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3045 - accuracy: 0.8761 - val_loss: 0.3620 - val_accuracy: 0.8505

In [41]:
model.save('model.h5')

d:\Data_Scienc\Machine_Learning_Practical\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [42]:
## Load Tesnsorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [43]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 14948), started 0:09:01 ago. (Use '!kill 14948' to kill it.)

In [ ]:
### Load the pickle file